.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

mat-spinner {
  position: fixed;
  top: 45%;
  left: 45%;
}

.username {
  text-align: center;
  margin-top: 15px;
}

.user-content {
  margin-top: 35px;
  margin-bottom: -5px;
  color: #62646a;
}

.divider {
  margin-top: 10px;
}

.title {
  margin-bottom: 1em;
}

.detail-container {
  margin-top: 25px;
  display: inline-block;
  margin-left: 30px;
  width: 93%;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.country {
  display: flex;
  justify-content: space-between;
}

.education-details {
  opacity: 0.7;
}

.certificate-details {
  opacity: 0.7;
}

.box {
  display: inline-block;
  position: relative;
  padding: 3px 12px;
  text-align: center;
  background: rgba(230, 224, 224, 0.26);
  border-radius: 15px;
  min-width: 40px;
  margin: 0 10px 10px 0;
  border: 1px solid #e5e5e5;
}
.language {
  margin-right: 5px;
}

.language-level {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 115.6px;
  left: 200px;
  background-color: rgb(56, 56, 56, 0.57);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.4s ease;
}

.ctr {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 27%;
}

.imghov:hover .overlay {
  opacity: 1;
}

.mat-fab {
  background-color: black;
  bottom: 30px;
}

.row.flex {
  display: flex;
}

@media (min-width: 1260px) {
}
.row {
  padding: 0;
}

@media (max-width: 575px) {
  .user-info {
    max-width: 25em;
  }

  .description-input {
    max-width: 100%;
  }

  .edit-box {
    max-width: 76%;
  }
}

.user-details {
  margin: 0 auto;
  margin-top: 3em;
  width: 25em;
}

.user-info {
  margin: 0 auto;
  margin-top: 3em;
  width: 34rem;
  height: 10%;
}

.edit-button {
  margin-top: 10px;
  display: inline-block;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 3px 0;
  font-size: 14px;
  text-align: center;
  background: 0 0;
  background-color: #fff;
  font-weight: 500;
  color: #777;
  border-color: #ccc;
  text-shadow: none;
  width: 359px;
}

.description-input {
  resize: none;
  width: 32.2em;
  height: 9em;
}

.edit-box {
  background-color: #f4f4f4;
  margin: 10px -15px 20px;
  padding: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 34.5em;
}

.buttons-wrapper {
  display: block;
  padding-top: 15px;
  margin-top: 6px;
  border-top: 1px solid #e5e5e5;
}

.basicInfo {
  margin-top: 10px;
}

.add {
  color: #00698c;
  font-size: 15px;
  font-weight: 400;
  float: right;
}

 .box .animate {
  background: #fff;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 7px 5px;
  overflow: hidden;
  text-align: center;
}

.animate {
  display: inline-block;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  font-size: 14px;
}

[data-hint] {
  position: relative;
}

.animate .trash-can {
  margin-left: 7px;
}

.box:hover > .animate {
  opacity: 1;
  width: 45px;
}

.edit-icon {
  width: 4px;
  height: 5px;
  font-size: 16.6px;
}

.delete-icon {
  width: 10px;
  height: 5px;
  font-size: 16.6px;
}

a {
  color: rgb(156, 154, 154);
}

.detail-container:hover > .animate {
  opacity: 1;
  margin-left: 10px;
}
.detail-container .animate .edit-icon {
  margin-right: 6px;
}

.language-container:hover > .animate {
  opacity: 1;
  margin-left: 10px;
}

.language-container .animate .edit-icon {
  margin-right: 6px;
}

.education-container:hover > .animate {
  opacity: 1;
  margin-left: 10px;
}

.education-container .animate .edit-icon {
  margin-right: 6px;
}