<mat-spinner *ngIf="isLoading; else Loaded"></mat-spinner>

<ng-template #Loaded>
    <div class="row flex">
        <div class="asd user-details">
            <mat-card>
                <div class="imghov" *ngIf="photo">
                    <img mat-card-avatar class="avatar" [src]='photo'>
                    <input #inputImage type="file" style="display:none" (change)="onImageSelected($event)" />
                    <div class="overlay ctr"><button mat-fab type="button" (click)="inputImage.click()">
                            <mat-icon>camera_alt</mat-icon>
                        </button></div>
                </div>
                <mat-card-title class="username">{{userProfile.username}}</mat-card-title>
                <mat-divider class="divider"></mat-divider>
                <mat-card-content class="user-content">
                    <div class="country" *ngIf="userProfile.country">
                        <label>
                            From
                        </label>
                        <label>
                            <strong>{{userProfile.country.country}}</strong>
                        </label>
                    </div>
                    <div class="date-container">
                        <label>
                            Member since
                        </label>
                        <label>
                            <strong>{{userProfile.createdDate | date:'MMMM y'}}</strong>
                        </label>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="basicInfo">
                <form [formGroup]="basicInfo" (ngSubmit)="editBasicInfo()">
                    <mat-form-field>
                        <input matInput type="firstName" id="firstName" placeholder="First Name"
                            formControlName="firstName">
                        <mat-error *ngIf="checkError(basicInfo, 'firstName', 'required')">First Name is required
                        </mat-error>
                        <mat-error *ngIf="checkError(basicInfo, 'firstName', 'minlength')">First Name must be at least 2
                            characters</mat-error>
                        <mat-error *ngIf="checkError(basicInfo, 'firstName', 'maxlength')">First Name should be less
                            than 30
                            characters</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput type="lastName" id="lastName" placeholder="Last Name"
                            formControlName="lastName">
                        <mat-error *ngIf="checkError(basicInfo, 'lastName', 'required')">Last Name is required
                        </mat-error>
                        <mat-error *ngIf="checkError(basicInfo, 'lastName', 'minlength')">Last Name must be at least 2
                            characters</mat-error>
                        <mat-error *ngIf="checkError(basicInfo, 'lastName', 'maxlength')">Last Name should be less than
                            30
                            characters</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <input matInput type="personalWebsite" id="personalWebsite" placeholder="Personal Website"
                            formControlName="personalWebsite">
                        <mat-error *ngIf="checkError(basicInfo, 'personalWebsite', 'required')">Personal Website is
                            required
                        </mat-error>
                        <mat-error *ngIf="checkError(basicInfo, 'personalWebsite', 'minlength')">Personal Website must
                            be at least
                            4
                            characters</mat-error>
                        <mat-error *ngIf="checkError(basicInfo, 'personalWebsite', 'maxlength')">Personal Website should
                            be less
                            than 30
                            characters</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country">
                            <mat-option *ngFor="let country of lookupTables.countries" [value]="country.id">
                                {{country.country}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="checkError(basicInfo, 'country', 'required')">Country is required</mat-error>
                    </mat-form-field>
                    <span class="buttons-wrapper">
                        <button mat-flat-button type="submit" color="primary"
                            [disabled]="!basicInfo.valid">Update</button>
                    </span>
                </form>
            </mat-card>
        </div>
        <mat-card class="user-info">
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="detail-container">
                <mat-card-title class="title">
                    Description
                    <!-- <a mat-flat-button class="edit-description" (click)="">Edit Description</a> -->
                    <a [routerLink] class="add" [routerLink] (click)="ShowDiv('description')">Edit</a>
                </mat-card-title>
                <label *ngIf="userProfile.description">
                    {{userProfile.description}}
                </label>
                <div class="edit-box" *ngIf="currDiv == 'description'">
                    <form [formGroup]="descriptionForm" (ngSubmit)="editDescription()">
                        <textarea [(ngModel)]="userProfile.description" placeholder="Description"
                            class="description-input" formControlName="description"></textarea>
                        <mat-error *ngIf="checkError(descriptionForm, 'description', 'required')">Description is
                            required</mat-error>
                        <mat-error *ngIf="checkError(descriptionForm, 'description', 'minlength')">Description must be
                            at least 15
                            characters</mat-error>
                        <mat-error *ngIf="checkError(descriptionForm, 'description', 'maxlength')">Description should be
                            less than 800
                            characters</mat-error>
                        <span class="buttons-wrapper">
                            <button mat-flat-button type="submit" color="primary"
                                [disabled]="!descriptionForm.valid">Update</button>
                        </span>
                    </form>
                </div>
            </mat-card-content>
            <div>
                <mat-divider class="divider"></mat-divider>
                <mat-card-content class="detail-container">
                    <mat-card-title class="title">
                        Languages
                        <a [routerLink] class="add" (click)="ShowDiv('languages')">Add New</a>
                    </mat-card-title>
                    <div class="language-container" *ngFor="let language of userProfile.languages">
                        <label class="language">
                            {{language.language}}
                        </label>
                        <label class="language-level">
                            - {{language.languageLevel.languageLevel}}
                        </label>
                        <div class="animate">
                            <span>
                                <a [routerLink] class="pencil" (click)="currDiv = 'languages'"
                                    (click)="addOrEditLanguageForm(language)">
                                    <mat-icon class="edit-icon">edit</mat-icon>
                                </a>
                            </span>
                            <span class="delete">
                                <a [routerLink] class="trash-can" (click)="deleteItem('languages', language.id)">
                                    <mat-icon class="delete-icon">delete</mat-icon>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="edit-box" *ngIf="currDiv == 'languages'">
                        <form [formGroup]="languageForm" (ngSubmit)="addOrEditLanguages()">
                            <mat-form-field>
                                <input matInput type="language" id="language" placeholder="Language"
                                    formControlName="language">
                                <mat-error *ngIf="checkError(languageForm, 'language', 'required')">Language is
                                    required</mat-error>
                                <mat-error *ngIf="checkError(languageForm, 'language', 'minlength')">Language must be
                                    at least 3 characters</mat-error>
                                <mat-error *ngIf="checkError(languageForm, 'language', 'maxlength')">Language should
                                    be less than 30 characters</mat-error>
                            </mat-form-field>
                            <br />
                            <mat-form-field appearance="fill">
                                <mat-label>Language Level</mat-label>
                                <mat-select formControlName="languageLevel">
                                    <mat-option *ngFor="let languageLevel of lookupTables.languageLevels"
                                        [value]="languageLevel.id">
                                        {{languageLevel.languageLevel}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="buttons-wrapper">
                                <button mat-flat-button type="submit" color="primary"
                                    [disabled]="!languageForm.valid">Add</button>
                            </span>
                        </form>
                    </div>
                </mat-card-content>
            </div>
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="detail-container">
                <mat-card-title class="title">
                    Skills
                    <a [routerLink] class="add" (click)="ShowDiv('skills')">Add New</a>
                </mat-card-title>
                <div *ngFor="let skill of userProfile.skills" class="detail-container" class="box">
                    <label>
                        {{skill.skill}}
                    </label>
                    <div class="animate">
                        <span>
                            <a [routerLink] class="pencil" (click)="currDiv = 'skills'"
                                (click)="addOrEditSkillsForm(skill)">
                                <mat-icon class="edit-icon">edit</mat-icon>
                            </a>
                        </span>
                        <span class="delete">
                            <a [routerLink] class="trash-can" (click)="deleteItem('skills', skill.id)">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="edit-box" *ngIf="currDiv == 'skills'">
                    <form [formGroup]="skillForm" (ngSubmit)="addOrEditSkill()">
                        <mat-form-field>
                            <input matInput type="skill" id="skill" placeholder="Skill" formControlName="skill">
                            <mat-error *ngIf="checkError(skillForm, 'skill', 'required')">Skill is
                                required</mat-error>
                            <mat-error *ngIf="checkError(skillForm, 'skill', 'minlength')">Skill must be
                                at least 3 characters</mat-error>
                            <mat-error *ngIf="checkError(skillForm, 'skill', 'maxlength')">Skill should
                                be less than 30 characters</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field appearance="fill">
                            <mat-label>Skill Level</mat-label>
                            <mat-select formControlName="skillLevel">
                                <mat-option *ngFor="let skillLevel of lookupTables.skillLevels" [value]="skillLevel.id">
                                    {{skillLevel.skillLevel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <span class="buttons-wrapper">
                            <button mat-flat-button type="submit" color="primary"
                                [disabled]="!skillForm.valid">Add</button>
                        </span>
                    </form>
                </div>
            </mat-card-content>
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="detail-container">
                <mat-card-title class="title">
                    Education
                    <a [routerLink] class="add" (click)="ShowDiv('education')">Add New</a>
                </mat-card-title>
                <div *ngFor="let education of userProfile.educations" class="education-container">
                    <label>
                        {{education.titleType.titleType}} - {{education.educationSubject}}
                    </label>
                    <div class="animate">
                        <span>
                            <a [routerLink] class="pencil" (click)="currDiv = 'education'"
                                (click)="addOrEditEducationForm(education)">
                                <mat-icon class="edit-icon">edit</mat-icon>
                            </a>
                        </span>
                        <span class="delete">
                            <a [routerLink] class="trash-can" (click)="deleteItem('educations', education.id)">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </span>
                    </div>
                    <br />
                    <span class="education-details">
                        {{education.universityName}},
                        {{education.country.country}},
                        Graduated {{education.graduationYear}}
                    </span>
                </div>
                <div class="edit-box" *ngIf="currDiv == 'education'">
                    <form [formGroup]="educationsForm" (ngSubmit)="addOrEditEducation()">
                        <mat-form-field>
                            <mat-label>Country of University</mat-label>
                            <mat-select formControlName="country">
                                <mat-option *ngFor="let country of lookupTables.countries" [value]="country.id">
                                    {{country.country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <input matInput type="universityName" id="universityName"
                                placeholder="College/University name" formControlName="universityName">
                                <mat-error *ngIf="checkError(educationsForm, 'universityName', 'required')">University Name is
                                    required</mat-error>
                                <mat-error *ngIf="checkError(educationsForm, 'universityName', 'minlength')">University Name must be
                                    at least 3 characters</mat-error>
                                <mat-error *ngIf="checkError(educationsForm, 'universityName', 'maxlength')">University Name should
                                    be less than 30 characters</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <mat-label>Title</mat-label>
                            <mat-select formControlName="titleType">
                                <mat-option *ngFor="let titleType of lookupTables.titleTypes" [value]="titleType.id">
                                    {{titleType.titleType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="educationSubject" id="educationSubject"
                                placeholder="Education Subject" formControlName="educationSubject">
                                <mat-error *ngIf="checkError(educationsForm, 'educationSubject', 'required')">Education Subject is
                                    required</mat-error>
                                <mat-error *ngIf="checkError(educationsForm, 'educationSubject', 'minlength')">Education Subject must be
                                    at least 3 characters</mat-error>
                                <mat-error *ngIf="checkError(educationsForm, 'educationSubject', 'maxlength')">Education Subject should
                                    be less than 30 characters</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <input matInput type="number" id="graduationYear" placeholder="Graduation year"
                                formControlName="graduationYear">
                                <mat-error *ngIf="checkError(educationsForm, 'graduationYear', 'required')">Graduation Year is required</mat-error>
                                <mat-error *ngIf="checkError(educationsForm, 'graduationYear', 'min')">Graduation Year must be greater than 1915</mat-error>
                                <mat-error *ngIf="checkError(educationsForm, 'graduationYear', 'max')">Graduation Year must be before 2050</mat-error>
                        </mat-form-field>
                        <span class="buttons-wrapper">
                            <button mat-flat-button type="submit" color="primary"
                                [disabled]="!educationsForm.valid">Add</button>
                        </span>
                    </form>
                </div>
            </mat-card-content>
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="detail-container">
                <mat-card-title class="title">
                    Certification
                    <a [routerLink] class="add" (click)="ShowDiv('certification')">Add New</a>
                </mat-card-title>
                <div *ngFor="let certificate of userProfile.certificates" class="education-container">
                    <label>
                        {{certificate.certificateSubject}}
                    </label>
                    <div class="animate">
                        <span>
                            <a [routerLink] class="pencil" (click)="currDiv = 'certification'"
                                (click)="addOrEditCertificatesForm(certificate)">
                                <mat-icon class="edit-icon">edit</mat-icon>
                            </a>
                        </span>
                        <span class="delete">
                            <a [routerLink] class="trash-can" (click)="deleteItem('certificates', certificate.id)">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </span>
                    </div>
                    <br />
                    <span class="certificate-details">
                        {{certificate.awardedFrom}},
                        Graduated {{certificate.graduationYear}}
                    </span>
                </div>
                <div class="edit-box" *ngIf="currDiv == 'certification'">
                    <form [formGroup]="certificateForm" (ngSubmit)="addOrEditCertificate()">
                        <mat-form-field>
                            <input matInput id="certificateSubject" placeholder="Certificate or Award"
                                formControlName="certificateSubject">
                                <mat-error *ngIf="checkError(certificateForm, 'certificateSubject', 'required')">Certificate Subject is
                                    required</mat-error>
                                <mat-error *ngIf="checkError(certificateForm, 'certificateSubject', 'minlength')">Certificate Subject must be
                                    at least 3 characters</mat-error>
                                <mat-error *ngIf="checkError(certificateForm, 'certificateSubject', 'maxlength')">Certificate Subject should
                                    be less than 30 characters</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <input matInput id="awardedFrom" placeholder="Certified From (E.G. Softuni)"
                                formControlName="awardedFrom">
                                <mat-error *ngIf="checkError(certificateForm, 'awardedFrom', 'required')">Awarded From is
                                    required</mat-error>
                                <mat-error *ngIf="checkError(certificateForm, 'awardedFrom', 'minlength')">Awarded From must be
                                    at least 3 characters</mat-error>
                                <mat-error *ngIf="checkError(certificateForm, 'awardedFrom', 'maxlength')">Awarded From should
                                    be less than 30 characters</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <input matInput type="number" id="graduationYear" placeholder="Graduation Year"
                                formControlName="graduationYear">
                                <mat-error *ngIf="checkError(certificateForm, 'graduationYear', 'required')">Graduation Year is required</mat-error>
                                <mat-error *ngIf="checkError(certificateForm, 'graduationYear', 'min')">Graduation Year must be greater than 1915</mat-error>
                                <mat-error *ngIf="checkError(certificateForm, 'graduationYear', 'max')">Graduation Year must be before 2050</mat-error>
                        </mat-form-field>
                        <span class="buttons-wrapper">
                            <button mat-flat-button type="submit" color="primary"
                                [disabled]="!certificateForm.valid">Add</button>
                        </span>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>