<div class="row flex">
    <div class="asd user-details">
        <mat-card>
            <div class="imghov" *ngIf="photo">
                <img mat-card-avatar class="avatar" [src]='photo'>
                <!-- <input #inputImage type="file" style="display:none" (change)="onImageSelected($event)" />
        <div class="overlay ctr"><button mat-fab type="button" (click)="inputImage.click()"> -->
                <!-- <mat-icon>camera_alt</mat-icon> -->
                <!-- </button></div> -->
            </div>
            <mat-card-title class="username">{{username}}</mat-card-title>
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="user-content">
                <div class="country" *ngIf="userProfile.country">
                    <label>
                        From
                    </label>
                    <label>
                        <strong>{{userProfile.country}}</strong>
                    </label>
                </div>
                <div class="date-container">
                    <label>
                        Member since
                    </label>
                    <label>
                        <strong>{{userProfile.createdDate | date:'MMMM y'}}</strong>
                    </label>
                </div>
            </mat-card-content>

        </mat-card>
    </div>
    <mat-card class="user-info">
        <ng-container *ngIf="userProfile.description">
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="detail-container">
                <mat-card-title class="title">
                    Description
                    <!-- <a mat-flat-button class="edit-description" (click)="">Edit Description</a> -->
                </mat-card-title>
                <div class="edit-box">
                <textarea [(ngModel)]="userProfile.description" placeholder="Description"
                    class="description-input"></textarea>
                    <span class="buttons-wrapper">
                        <button mat-flat-button color="primary">Update</button>
                    </span>
                </div>
            </mat-card-content>
        </ng-container>
        <div>
            <ng-container *ngIf="userProfile.languages.length > 0">
                <mat-divider class="divider"></mat-divider>
                <mat-card-content class="detail-container">
                    <mat-card-title class="title">
                        Languages
                    </mat-card-title>
                    <div *ngFor="let language of userProfile.languages">
                        <label class="language">
                            {{language.language}}
                        </label>
                        <label class="language-level">
                            - {{language.languageLevel.languageLevel}}
                        </label>
                    </div>
                    <div class="edit-box">
                        <form>
                            <mat-form-field>
                                <input matInput type="language" id="language" placeholder="Language"
                                    formControlName="language">
                            </mat-form-field>
                            <br />
                            <mat-form-field appearance="fill">
                                <mat-label>Language Level</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let languageLevel of languageLevels"
                                        [value]="languageLevel.languageLevel" [value]="languageLevel.languageLevel">
                                        {{languageLevel.languageLevel}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="buttons-wrapper">
                                <button mat-flat-button color="primary">Update</button>
                            </span>
                        </form>
                    </div>
                </mat-card-content>
            </ng-container>
        </div>
        <ng-container *ngIf="userProfile.skills.length > 0">
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="detail-container">
                <mat-card-title class="title">
                    Skills
                </mat-card-title>
                <div *ngFor="let skill of userProfile.skills" class="detail-container" class="box">
                    <label>
                        {{skill.skill}}
                    </label>
                </div>
            </mat-card-content>
        </ng-container>
        <ng-container *ngIf="userProfile.educations.length > 0">
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="detail-container">
                <mat-card-title class="title">
                    Education
                </mat-card-title>
                <div *ngFor="let education of userProfile.educations" class="detail-container">
                    <label>
                        {{education.titleType.titleType}} - {{education.educationSubject}}
                    </label>
                    <br />
                    <span class="education-details">
                        {{education.universityName}},
                        {{education.country.country}},
                        Graduated {{education.graduationYear}}
                    </span>
                </div>
            </mat-card-content>
        </ng-container>
        <ng-container *ngIf="userProfile.certificates.length > 0">
            <mat-divider class="divider"></mat-divider>
            <mat-card-content class="detail-container">
                <mat-card-title class="title">
                    Certification
                </mat-card-title>
                <div *ngFor="let certificate of userProfile.certificates" class="detail-container">
                    <label>
                        {{certificate.certificateSubject}}
                    </label>
                    <br />
                    <span class="certificate-details">
                        {{certificate.awardedFrom}},
                        Graduated {{certificate.graduationYear}}
                    </span>
                </div>
            </mat-card-content>
        </ng-container>
    </mat-card>
</div>