<mat-spinner *ngIf="isLoading; else Loaded"></mat-spinner>

<ng-template #Loaded>
    <div class="dropdown-container">
        <div class="dropdown" *ngFor="let workSphere of workSpheres.workSpheres">
            <button class="dropbtn">{{workSphere.workSphere}}</button>
            <div class="dropdown-content">
                <a [routerLink]="['/jobs/', workSphere.workSphere.split(' ').join('-'), subSphere.subSphere.split(' ').join('-'), subSphere.id]"
                    *ngFor="let subSphere of workSphere.subSpheres">{{subSphere.subSphere}}</a>
            </div>
        </div>
    </div>

    <div class="listings-perseus">
        <div class="row content-row">
            <header class="subcategory-header">
                <div class="title-wrapper">
                    <h1>{{currentSubSphere}}</h1>
                </div>
            </header>
            <div class="content">
                <div class="listing-container">
                    <div class="gig-card-layout" *ngFor="let job of jobs">
                        <div>
                            <div class="gig-wrapper card">
                                <a [routerLink]="['/jobs/', job.userProfileDetails.username, job.id]" class="media">
                                    <div class="slider">
                                        <div class="slides preview">
                                            <div class="slide-item active">
                                                <img [src]='job.picture'>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="seller-info text-body-2">
                                    <div class="inner-wrapper"><span class="seller-image">
                                            <figure class="fit-avatar-figure fit-avatar-circle-shape"
                                                style="font-size: 24px;">
                                                <figcaption class=""></figcaption><span class="fit-avatar-image"></span>
                                            </figure>
                                        </span><span class="seller-name"><a
                                                [routerLink]="['/jobs/', job.userProfileDetails.username, job.id]">{{job.userProfileDetails.username}}</a></span>
                                    </div>
                                </div>
                                <h3 class="text-display-7"><a
                                        [routerLink]="['/jobs/', job.userProfileDetails.username, job.id]">{{job.description}}</a>
                                </h3>
                                <footer>
                                    <a [routerLink]="['/jobs/', job.userProfileDetails.username, job.id]" class="price">
                                        <small class="text-body-3">Starting
                                            at</small>€{{job.price}}</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="pagination" class="page-pagination desktop">
            <li class="page-number" *ngFor="let p of pages; let i=index" [ngClass]="(i == page)?'active-page':''">
                <a href="" (click)="changePage(i, $event)">{{i+1}}</a>
            </li>
        </ul>
    </div>
</ng-template>