@import '../../../styles.css';

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}
.user-details {
  /* position: absolute; */
  margin-top: 50px;
  /* margin-left: 100px;
  margin-top: 60px; */
  /* width: 400px !important; */
}

mat-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

.username {
  text-align: center;
}

.user-content{
  margin-top: 20px;
}

.jobs {
  /* position: fixed; */
  /* margin-left: 100px;
  margin-top: 60px; */
}

.divider {
  margin-top: 10px;
}

.description {
  margin-top: 40px;
}

.user-content {
  margin-top: 40px;
}

.description-title {
  margin-bottom: 30px;
}

/* .language-title {
  margin-top: 30px;
  margin-bottom: 30px;
} */

.languages {
  margin-top: 40px;
  
}

.language-title {
  margin-bottom: 30px;
}

.skills {
  margin-top: 40px;
}

.skill-title {
  margin-bottom: 30px;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

.country {
  display: flex;
  justify-content: space-between;
}

.educations {
  margin-top: 40px;
}

.education-title {
  margin-bottom: 30px;
}

.education-details {
  opacity: 0.7;
}
