/* @import '../../../styles.css'; */

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}
.user {
  position: absolute;
  margin-left: 100px;
  margin-top: 60px;
  /* width: 400px !important; */
}

mat-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

.username {
  text-align: center;
}

.created-date:before {
  content: "\00a0 ";
  text-align: right;
}

.user-content{
  margin-top: 20px;
}

.user-details {
  position: absolute;
  margin-left: 100px;
  margin-top: 60px;
}