<div class="header-center">Join WorkForYou</div>
<br>
<form [formGroup]="registerForm" (ngSubmit)="register()">

  <mat-form-field hideRequiredMarker>
    <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username">
      <mat-error *ngIf="checkError('username', 'required')">Username is required</mat-error>
      <mat-error *ngIf="checkError('username', 'minlength')">Username should be at least 4 characters</mat-error>
      <mat-error *ngIf="checkError('username', 'maxlength')">Username should be less than 20 characters</mat-error>
  </mat-form-field>

  <mat-form-field hideRequiredMarker>
    <input matInput type="text" id="email" placeholder="Email" autocomplete="off" formControlName="email">
      <mat-error *ngIf="checkError('email', 'email')">Please enter a valid email address</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="checkError('password', 'minlength')">Password should be at least 6 characters</mat-error>
      <mat-error *ngIf="checkError('password', 'maxlength')">Password should be less than 30 characters</mat-error>
  </mat-form-field>

  <div class="passwordExp">
    6 characters or longer. Combine upper and lowercase letters and numbers.
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Sign Up</button>
  </div>
  <hr>
  <div>
      Already a member? <button name="signIn" mat-button color="Link" [routerLink]="['/auth/login']">Sign In</button>
  </div>

</form>
