:host {
    text-align: center;
    display: block;
    margin-top: 12%;
  }
  
  form {
    max-width: 300px;
    margin: auto;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .actions {
    text-align: center;
    margin-top: 3px;
    margin-bottom:50px;
  }

  button[name=signIn] {
      color: rgb(8, 187, 89);
      font-size: medium;
  }
  
  .header-center {
      font-size: x-large;
      font-weight: 420;
  }
  
  .passwordExp {
    color: gray;
    text-align: left;
    font-size: 13px;
    margin-bottom: 19px;
    margin-top: -10px;
  }