<mat-spinner *ngIf="isLoading; else Loaded"></mat-spinner>

<ng-template #Loaded>
    <div class="box-row">
        <mat-card class="job">
            <form enctype="multipart/form-data" [formGroup]="editJobForm" (ngSubmit)="editJob()">
                <div class="imghov">
                    <!-- <div class="img-selected"> -->
                        <img mat-card-avatar *ngIf="imgURL" class="avatar" [src]='imgURL'>
                    <!-- </div> -->
                    <input #inputImage type="file" style="display:none" (change)="onImageSelected($event)" />
                    <div class="overlay ctr"><button mat-fab type="button" (click)="inputImage.click()">
                            <mat-icon>camera_alt</mat-icon>
                        </button></div>
                </div>
                <span class="divider"></span>

                <div class="form-row">
                    <div class="label-wrap">
                        <label class="prefix">Job Title</label>
                    </div>
                    <div class="input-wrap">
                        <mat-form-field class="form">
                            <input matInput class="job-name" placeholder="Job Title" formControlName="jobTitle" />
                            <mat-error *ngIf="checkError('jobTitle', 'required')">Job Title is required</mat-error>
                            <mat-error *ngIf="checkError('jobTitle', 'minlength')">Job Title must be at least 5
                                characters</mat-error>
                            <mat-error *ngIf="checkError('jobTitle', 'maxlength')">Job Title should be less than 40
                                characters</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row">
                    <div class="label-wrap">
                        <label class="prefix">Description</label>
                    </div>
                    <div class="input-wrap">
                        <mat-form-field class="form job-description">
                            <textarea matInput class="job-description" placeholder="Description"
                                formControlName="jobDescription"></textarea>
                            <mat-error *ngIf="checkError('jobDescription', 'required')">Description is required
                            </mat-error>
                            <mat-error *ngIf="checkError('jobDescription', 'minlength')">Description must be at least 15
                                characters</mat-error>
                            <mat-error *ngIf="checkError('jobDescription', 'maxlength')">Description should be less than
                                800
                                characters</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row">
                    <div class="work-sphere-wrap">
                        <div class="label-wrap">
                            <label class="prefix">Work Sphere</label>
                        </div>
                        <mat-form-field class="dropdown dropdown-space">
                            <mat-label>Select Work Sphere</mat-label>
                            <mat-select formControlName="workSphere" (selectionChange)='filterSubSpheres($event.value)'>
                                <mat-option *ngFor="let workSphere of workSpheres.workSpheres" [value]="workSphere.id">
                                    {{workSphere.workSphere}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="checkError('workSphere', 'required')">Work Sphere is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="sub-sphere-wrap">
                        <div class="label-wrap">
                            <label class="prefix">Sub Sphere</label>
                        </div>
                        <mat-form-field class="dropdown">
                            <mat-label>Select Sub Sphere</mat-label>
                            <mat-select formControlName="subSphere">
                                <mat-option *ngFor="let subSphere of selectedWorkSphere?.subSpheres"
                                    [value]="subSphere.id">
                                    {{subSphere.subSphere}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="checkError('subSphere', 'required')">Sub Sphere is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <span class="divider"></span>
                <div class="form-row">
                    <div class="label-wrap">
                        <label class="prefix">Delivery Time</label>
                    </div>
                    <div class="input-wrap">
                        <mat-form-field class="price">
                            <input matInput type="number" class="job-name" placeholder="Delivery Time in Days"
                                formControlName="deliveryTime" />
                            <mat-error *ngIf="checkError('deliveryTime', 'required')">Delivery Time is required
                            </mat-error>
                            <mat-error *ngIf="checkError('deliveryTime', 'min')">Delivery Time must be a positive number
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row">
                    <div class="label-wrap">
                        <label class="prefix">Price</label>
                    </div>
                    <div class="input-wrap">
                        <mat-form-field class="price">
                            <input matInput type="number" class="job-name" placeholder="Price"
                                formControlName="jobPrice" />
                            <mat-error *ngIf="checkError('jobPrice', 'required')">Price Time is required</mat-error>
                            <mat-error *ngIf="checkError('jobPrice', 'min')">Price must be more than 0</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <span class="buttons-wrapper">
                    <button mat-flat-button type="submit" color="primary">Add</button>
                </span>
            </form>
        </mat-card>
    </div>
</ng-template>