:host {
    text-align: center;
    display: block;
    margin-top: 12%;
  }
  
  form {
    max-width: 300px;
    margin: auto;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .actions {
    text-align: center;
    margin-top: 3px;
    margin-bottom:50px;
  }

  button[name=signUp] {
    color: rgb(8, 187, 89);
    font-size: medium;
}

.header-center {
  font-size: x-large;
  font-weight: 420;
}

#username {
  margin-bottom: 7px;
}

.error {
  margin-top: 7px;
  margin-bottom: 5px;
}
  