<div class="header-center">Sign In</div>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-form-field>
    <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" disabled>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Sign In</button>
  </div>

  <hr>
  <div>
    Not a member yet? <button name="signUp" mat-button color="Link" [routerLink]="['/auth/register']">Sign Up</button>
  </div>

</form>
