<div class="header-center">Sign In</div>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-error class="error" *ngIf="hasError">Username or Password Incorrect</mat-error>
  
  <mat-form-field hideRequiredMarker>
    <input matInput type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username">
    <mat-error *ngIf="checkError('username', 'required')">Username is required</mat-error>
    <mat-error *ngIf="checkError('username', 'minlength')">Username should be at least 4 characters</mat-error>
    <mat-error *ngIf="checkError('username', 'maxlength')">Username should be less than 20 characters</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="checkError('password', 'minlength')">Password should be at least 6 characters</mat-error>
    <mat-error *ngIf="checkError('password', 'maxlength')">Password should be less than 30 characters</mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Sign In</button>
  </div>

  <hr>
  <div>
    Not a member yet? <button name="signUp" mat-button color="Link" [routerLink]="['/auth/register']">Sign Up</button>
  </div>

</form>