<mat-spinner *ngIf="isLoading; else Loaded"></mat-spinner>

<ng-template #Loaded>
    <div class="job-page">
        <aside class="aside">
            <mat-card class="sidebar">
                <header>
                    <h3 class="header">
                        <b class="title">{{job.jobTitle}}</b>
                        <span class="price">€{{job.price}}</span>
                    </h3>
                </header>
                <span class="divider"></span>
                <article>
                    <b class="delivery">
                        <mat-icon class="alarm-icon">alarm</mat-icon>
                        <label class="delivery-time">{{job.deliveryTime}} Days Delivery</label>
                    </b>
                </article>
                <footer>
                    <button (click)="buyJob()" class="buy-button" type="submit">Continue
                        <span> (€{{job.price}})</span>
                    </button>
                </footer>
            </mat-card>
        </aside>
        <div class="job-info">
            <mat-card class="main">
                <div class="header-section">
                    <h3 class="main-title">{{job.jobTitle}}</h3>
                    <a class="edit-job-button" *ngIf="isUserAuthor" mat-button [routerLink]="['/jobs/edit', job.id]">Edit Job</a>
                </div>
                <span class="divider"></span>
                <section class="gallery">
                    <img class="job-image" [src]="job.jobPicture">
                </section>
                <div class="description">
                    <header>
                        <h3 class="section-title">About This Job</h3>
                    </header>
                    <div class="description-wrapper">
                        <div class="description-content">
                            {{job.description}}
                        </div>
                    </div>
                    <ul class="metadata">
                        <li class="metadata-attribute">
                            <p>{{job.workSphere.workSphere}}</p>
                            <ul>
                                <li class="sub-sphere-li">{{job.subSphere.subSphere}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <h3 class="section-title">About The Seller</h3>
                <div class="profile-card">
                    <div class="seller-card">
                        <div class="profile-info">
                            <div class="user-profile-label">
                                <img class="picture"
                                    src="https://fiverr-res.cloudinary.com/t_profile_original,q_auto,f_auto/attachments/profile/photo/e516eb84670e89ccb50a4496351fcaf1-1589662481484/191cb7eb-28b0-4057-bdae-aea95cdc3383.jpg">
                                <a mat-button [routerLink]="['/users/profile', job.userProfileDetails.userId]"
                                    class="username">{{job.userProfileDetails.username}}</a>
                            </div>
                        </div>
                        <div class="stats-desc">
                            <ul class="user-stats">
                                <li>From
                                    <strong>{{job.userProfileDetails.country}}</strong>
                                </li>
                                <li>Member since
                                    <strong>{{job.userProfileDetails.createdDate | date:'MMMM y'}}</strong>
                                </li>
                            </ul>
                            <article class="seller-desc">
                                <div class="inner">
                                    {{job.userProfileDetails.description}}
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</ng-template>