<mat-toolbar>
        <a class="logo" mat-button [routerLink]="'/'">WorkForYou</a>
        
        <div class="spacer"></div>

        <ng-container *ngIf="!isLoggedIn(); else LoggedIn">
        <a mat-button [routerLink]="'/auth/login'">Sign In</a>
        <a mat-button [routerLink]="'/auth/register'">Sign Up</a>
        </ng-container>

        <ng-template #LoggedIn>
                <a mat-button [routerLink]="['/jobs/job/add']">Add Job</a>
                <ng-container *ngIf="username && userId">
                <a mat-button [routerLink]="['/users/profile', userId]">{{username}}</a>
                </ng-container>
                <a mat-button (click)="logout()">Logout</a>
        </ng-template>
</mat-toolbar>
