mat-spinner {
  position: fixed;
  top: 45%;
  left: 45%;
}

.box-row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88%;
}

.job {
  height: fit-content;
  width: 700px;
}

.form {
  margin-top: 2%;
  width: 34em;
}

.buttons-wrapper {
  display: block;
  padding-top: 15px;
  margin-top: 6px;
  border-top: 1px solid #e5e5e5;
}

.label-wrap {
  width: 19%;
  margin-top: 4%;
  padding-right: 5%;
  text-align: right;
}

.input-wrap {
  position: relative;
  display: inline-block;
}

.form-row {
  padding: 0 0 20px;
  position: relative;
}

.prefix {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #62646a;
}

.job-description {
  resize: none;
  height: 50px;
}

.dropdown {
  margin-top: 2%;
}

.dropdown-space {
  margin-right: 55px;
}

.price {
  margin-top: 2%;
  width: 13em;
}

.divider {
  display: block;
  padding-top: 15px;
  margin-top: 6px;
  border-top: 1px solid #e5e5e5;
}
