.box-row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88%;
}

.job {
  height: fit-content;
  width: 700px;
}

.job-name {
  resize: none;
  width: 34em;
  height: 5em;
}

.buttons-wrapper {
  display: block;
  padding-top: 15px;
  margin-top: 6px;
  border-top: 1px solid #e5e5e5;
}

/* .form-row {
  padding: 0 0 20px;
  font-size: 0;
  position: relative;
}

.form-row .label-wrap {
  width: 17%;
  padding-right: 5%;
  vertical-align: top;
  text-align: right;
}

.form-row .input-wrap {
  width: 78%;
}

.db-edit-gig .edit-gig-form-wrap .form-row .input-wrap {
    display: inline-block;
} */

.label-wrap {
  width: 17%;
  margin-top: 5%;
  padding-right: 5%;
  /* vertical-align: super; */
  text-align: right;
  /* font-size: 12px; */
}

.input-wrap {
  position: relative;
  display: inline-block;
  /* font-size: 12px; */
}

.form-row {
  padding: 0 0 20px;
  /* font-size: 0; */
  position: relative;
}

.job-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #62646a;
}
