<div class="box-row">
    <mat-card class="job">
        <form [formGroup]="addJob" (ngSubmit)="addJob()">
            <div class="form-row">
                <div class="label-wrap">
                    <label class="prefix">Job Title</label>
                </div>
                <div class="input-wrap">
                    <mat-form-field class="form">
                        <input matInput class="job-name" placeholder="Job Title" formControlName="jobName" />
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="label-wrap">
                    <label class="prefix">Description</label>
                </div>
                <div class="input-wrap">
                    <mat-form-field class="form job-description">
                        <textarea matInput class="job-description" placeholder="Description"
                            formControlName="jobDescription"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row">
                <div class="label-wrap">
                    <label class="prefix">Work Sphere</label>
                </div>
                <mat-form-field class="dropdown dropdown-space">
                    <mat-label>Select Work Sphere</mat-label>
                    <mat-select formControlName="country">
                        <!-- <mat-option *ngFor="let country of lookupTables.countries" [value]="country.id">
                        {{country.country}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
                <div class="label-wrap">
                    <label class="prefix">Sub Sphere</label>
                </div>
                <mat-form-field class="dropdown">
                    <mat-label>Select Sub Sphere</mat-label>
                    <mat-select formControlName="country">
                        <!-- <mat-option *ngFor="let country of lookupTables.countries" [value]="country.id">
                        {{country.country}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class="form-row">
                <div class="label-wrap">
                    <label class="job-title">Sub Sphere</label>
                </div>
                <mat-form-field class="dropdown">
                    <mat-label>Select Sub Sphere</mat-label>
                    <mat-select formControlName="country"> -->
                        <!-- <mat-option *ngFor="let country of lookupTables.countries" [value]="country.id">
                        {{country.country}}
                    </mat-option> -->
                    <!-- </mat-select>
                </mat-form-field>
            </div> -->
            <span class="buttons-wrapper">
                <button mat-flat-button type="submit" color="primary">Add</button>
            </span>
        </form>
    </mat-card>
</div>