<div class="logo-container">
    <img class="logo-img" src="https://i.imgur.com/80TojRd.png">
</div>
<span class="header-divider"></span>
<div class="subcategory-box">
    <h2>Popular Professional Services</h2>
    <div class="sub-sphere-container">
        <div>
            <div class="sub-sphere">
                <a href="" class="subcategory">
                    <h4>
                        <small>Build Your Brand</small>
                        Logo Design
                    </h4>
                    <picture>
                        <img class="image" alt="Logo Design"
                            src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                    </picture>
                </a>
            </div>
        </div>
    </div>
    <div class="sub-sphere-container">
        <div>
            <div class="sub-sphere">
                <a href="" class="subcategory">
                    <h4>
                        <small>Build Your Brand</small>
                        Logo Design
                    </h4>
                    <picture>
                        <img class="image" alt="Logo Design"
                            src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                    </picture>
                </a>
            </div>
        </div>
    </div>
    <div class="sub-sphere-container">
        <div>
            <div class="sub-sphere">
                <a href="" class="subcategory">
                    <h4>
                        <small>Build Your Brand</small>
                        Logo Design
                    </h4>
                    <picture>
                        <img class="image" alt="Logo Design"
                            src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                    </picture>
                </a>
            </div>
        </div>
    </div>
    <div class="sub-sphere-container">
        <div class="previous">
            <div class="sub-sphere">
                <a href="" class="subcategory">
                    <h4>
                        <small>Build Your Brand</small>
                        Logo Design
                    </h4>
                    <picture>
                        <img class="image" alt="Logo Design"
                            src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                    </picture>
                </a>
            </div>
        </div>
    </div>
    
        <div class="sub-sphere-container">
            <div class="last-elm">
            <div>
                <div class="sub-sphere">
                    <a href="" class="subcategory">
                        <h4>
                            <small>Build Your Brand</small>
                            Logo Design
                        </h4>
                        <picture>
                            <img class="image" alt="Logo Design"
                                src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_250,dpr_1.0/general_assets/logged_out_homepage/assets/sub_category/logodesign@2x.jpg">
                        </picture>
                    </a>
                </div>
                </div>
            </div>
        </div>
    
</div>