mat-spinner {
  position: fixed;
  top: 45%;
  left: 45%;
}

.logo-container {
  background-color: #eef2f5;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 260px;
  width: 630px;
  padding-left: 13px;
}

.header-divider {
  display: block;
  padding-top: 15px;
  border-top: 1px solid #c5c5c5;
}

.sub-sphere {
  height: 300px;
  width: 244px;
}

@media (min-width: 1160px) {
  .home-wrapper {
    max-width: 1400px;
  }
}

@media (min-width: 600px) {
  .home-wrapper {
    padding: 32px 32px 64px;
  }
}

@media (min-width: 1160px) {
  .home-wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.subcategory-box {
  margin-top: 40px;
  padding-bottom: 70px;
}

h4 {
  position: relative;
  z-index: 1;
  font-size: 21px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}

small {
  font-size: 15px;
  font-weight: 400;
  display: block;
}

.image {
  object-fit: cover;
  height: 300px;
  border-radius: 4px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
}
.carousel-container {
  display: flex;
  position: absolute;
}

.carousel-parent {
  height: 20em;
}

#container {
  width: 66em;
  padding: 0;
}

@media (max-width: 975px) {
  #container {
    display: contents;
  }
}

a {
  color: #1dbf73;
  text-decoration: none;
}

.slide-items {
  margin-right: 10px;
}

.carousel-button {
  width: 25px;
}

h2 {
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
}

@media (min-width: 1160px) {
  .content {
    padding-right: 120px;
  }
}

@media (min-width: 900px) {
  .content {
    padding-right: 7%;
  }
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 1;
  max-width: 638px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #222325;
}

@media (min-width: 900px) {
  .content h2 {
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
  }
}

@media (min-width: 900px) {
  .content h2 {
    font-size: 22px;
    line-height: 30px;
  }
}

.content h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 20px;
}

@media (min-width: 900px) {
  .content li {
    padding-bottom: 24px;
  }
}

.content li {
  padding-bottom: 20px;
}

.content li h6 {
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 600px) {
  h6 {
    font-size: 18px;
  }
}

.content li h6:before {
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/checkmark.0c8e7a1.svg)
    no-repeat;
  background-size: 16px;
  content: "";
  height: 18px;
  width: 21px;
  padding-right: 10px;
}

.content p {
  color: #62646a;
}

ul {
  list-style: none;
  list-style-image: none;
}

.picture-modal {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  position: relative;
}

.picture-wrapper {
  position: relative;
  cursor: pointer;
}

@media (min-width: 900px) {
  .content-wrapper {
    flex-direction: row !important;
  }
}
.content-wrapper {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 1221px) {
  .picture {
    width: 700px;
    height: 468px;
  }
}

@media (min-width: 1120px) and (max-width: 1220px) {
  .picture {
    width: 550px;
    height: 330px;
  }
}

@media (min-width: 900px) and (max-width: 1119px) {
  .picture {
    width: 460px;
    height: 310px;
  }
}

@media (min-width: 500px) and (max-width: 899px) {
  .picture {
    width: 700px;
    height: 468px;
  }
}
