<mat-spinner *ngIf="isLoading; else Loaded"></mat-spinner>

<ng-template #Loaded>
    <div class="logo-container">
        <img class="logo-img" src="https://i.imgur.com/80TojRd.png">
    </div>
    <span class="header-divider"></span>

    <div class="dropdown-container">
        <div class="dropdown" *ngFor="let workSphere of workSpheres.workSpheres">
            <button class="dropbtn">{{workSphere.workSphere}}</button>
            <div class="dropdown-content">
                <a [routerLink]="['/jobs/', workSphere.workSphere.split(' ').join('-'), subSphere.subSphere.split(' ').join('-'), subSphere.id]"
                    *ngFor="let subSphere of workSphere.subSpheres">{{subSphere.subSphere}}</a>
            </div>
        </div>
    </div>

    <div class="home-wrapper">
        <ng-container>
            <div class="subcategory-box">
                <h2>Services in Web Programming</h2>
                <div id="container">
                    <div ng2-carouselamos class="slides-wrapper" [items]="webProgrammingJobs" [width]=""
                        [$prev]="prev" [$next]="next" [$item]="item">
                    </div>

                    <ng-template #prev>
                        <img class="carousel-button"
                            src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-512.png" id="left" />
                    </ng-template>
                    <ng-template #next>
                        <img class="carousel-button"
                            src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png"
                            id="right" />
                    </ng-template>
                    <ng-template #item let-item let-i="index">
                        <div class="slide-items">
                            <div class="slick-slide slick-active" style="outline: none; width: 244px;">
                                <div>
                                    <div class="gig-card-layout">
                                        <div>
                                            <div class="gig-wrapper card">
                                                <a [routerLink]="['/jobs/', item.userProfileDetails.username, item.id]"
                                                    class="media">
                                                    <div class="slider">
                                                        <div class="slides preview">
                                                            <div class="slide-item active" style="width: auto;">
                                                                <img [src]='item.picture'>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="seller-info text-body-2">
                                                    <div class="inner-wrapper"><span class="seller-image">
                                                            <figure class="fit-avatar-figure fit-avatar-circle-shape"
                                                                style="font-size: 24px;">
                                                                <figcaption class=""></figcaption><span
                                                                    class="fit-avatar-image"></span>
                                                            </figure>
                                                        </span><span class="seller-name"><a
                                                                [routerLink]="['/jobs/', item.userProfileDetails.username, item.id]">{{item.userProfileDetails.username}}</a></span>
                                                    </div>
                                                </div>
                                                <h3 class="text-display-7"><a
                                                        [routerLink]="['/jobs/', item.userProfileDetails.username, item.id]">{{item.description}}</a>
                                                </h3>
                                                <footer>
                                                    <a [routerLink]="['/jobs/', item.userProfileDetails.username, item.id]"
                                                        class="price">
                                                        <small class="text-body-3">Starting
                                                            at</small>€{{item.price}}</a>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ng-container>
        <ng-container>
            <div class="subcategory-box">
                <h2>Services in Video Editing</h2>
                <div id="container">
                    <div ng2-carouselamos class="slides-wrapper" [items]="videoEditingJobs" [width]="" [$prev]="prev"
                        [$next]="next" [$item]="item">
                    </div>

                    <ng-template #prev>
                        <img class="carousel-button"
                            src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-512.png" id="left" />
                    </ng-template>
                    <ng-template #next>
                        <img class="carousel-button"
                            src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png"
                            id="right" />
                    </ng-template>
                    <ng-template #item let-item let-i="index">
                        <div class="slide-items">
                            <div class="slick-slide slick-active" style="outline: none; width: 244px;">

                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>