<mat-spinner *ngIf="isLoading; else Loaded"></mat-spinner>

<ng-template #Loaded>
    <div class="logo-container">
        <img class="logo-img" src="https://i.imgur.com/80TojRd.png">
    </div>
    <span class="header-divider"></span>

    <div class="dropdown-container">
        <div class="dropdown" *ngFor="let workSphere of workSpheres.workSpheres">
            <button mat-button class="dropbtn">{{workSphere.workSphere}}</button>
            <div class="dropdown-content">
                <a href="#" *ngFor="let subSphere of workSphere.subSpheres">{{subSphere.subSphere}}</a>
            </div>
        </div>
    </div>

    <div class="subcategory-box">
        <h2>Services in Web Programming</h2>
        <div id="container">
            <div ng2-carouselamos class="slides-wrapper" [items]="jobs" [width]="850" [$prev]="prev" [$next]="next"
                [$item]="item">
            </div>

            <ng-template #prev>
                <img class="carousel-button"
                    src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-512.png" id="left" />
            </ng-template>
            <ng-template #next>
                <img class="carousel-button"
                    src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-right-01-512.png" id="right" />
            </ng-template>
            <ng-template #item let-item let-i="index">

                <div class="slide-items">
                    <div class="slick-slide slick-active" style="outline: none; width: 244px;">
                        <div>
                            <div class="gig-card-layout">
                                <div>
                                    <div class="gig-wrapper card" data-gig-id="122982910"
                                        data-impression-collected="true">
                                        <a href="/mahamwebs/design-redesign-and-customize-wordpress-website?context_referrer=logged_in_homepage&amp;source=recently_and_inspired&amp;ref_ctx_id=b9ea2264-f8ee-440d-a8c6-7e3ce8e00c2d&amp;context=recommendation&amp;pckg_id=1&amp;pos=3&amp;context_alg=recently_viewed"
                                            class="media">
                                            <div class="slider">
                                                <div class="slides preview">
                                                    <div class="slide-item active" style="width: auto;"><img
                                                            src="https://fiverr-res.cloudinary.com/t_gig_cards_web,q_auto,f_auto/gigs/122982910/original/46a9da9988ad14b744b56ae30003c448bd314567.png"
                                                            loading="lazy"></div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="seller-info text-body-2">
                                            <div class="inner-wrapper"><span class="seller-image">
                                                    <figure class="fit-avatar-figure fit-avatar-circle-shape"
                                                        style="font-size: 24px;">
                                                        <figcaption class=""></figcaption><span class="fit-avatar-image"
                                                            style="background-image: url(&quot;https://fiverr-res.cloudinary.com/t_profile_thumb,q_auto,f_auto/attachments/profile/photo/53d2be446394683ffe557446378a818d-742734591548082068588/JPEG_20190121_194746_-943619541.jpg&quot;);"></span>
                                                    </figure>
                                                </span><span class="seller-name"><a
                                                        href="/mahamwebs?source=gig_cards&amp;referrer_gig_slug=design-redesign-and-customize-wordpress-website&amp;ref_ctx_id=b9ea2264-f8ee-440d-a8c6-7e3ce8e00c2d"
                                                        target="_self"><span>by</span>{{item.userProfileDetails.username}}</a></span>
                                            </div>
                                        </div>
                                        <h3 class="text-display-7"><a
                                                href="/mahamwebs/design-redesign-and-customize-wordpress-website?context_referrer=logged_in_homepage&amp;source=recently_and_inspired&amp;ref_ctx_id=b9ea2264-f8ee-440d-a8c6-7e3ce8e00c2d&amp;context=recommendation&amp;pckg_id=1&amp;pos=3&amp;context_alg=recently_viewed">{{item.description}}</a>
                                        </h3>
                                        <footer>
                                            <a href="/mahamwebs/design-redesign-and-customize-wordpress-website?context_referrer=logged_in_homepage&amp;source=recently_and_inspired&amp;ref_ctx_id=b9ea2264-f8ee-440d-a8c6-7e3ce8e00c2d&amp;context=recommendation&amp;pckg_id=1&amp;pos=3&amp;context_alg=recently_viewed"
                                                target="_self" class="price" title="€18.10"><small
                                                    class="text-body-3">Starting
                                                    at</small>€{{item.price}}</a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</ng-template>