/* You can add global styles to this file, and also import other style files */

/* @import "bootstrap/dist/css/bootstrap-grid.min.css"; */

html,
body {
  margin: 0;
  font: 400 16px/24px "ProximaNova", "Helvetica Neue", Helvetica, Arial,
    sans-serif; 
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
}
